 {% extends "base.html" %}

{% block content %}

<h1>Форма для регистрации в суперсекретной системе</h1>
        <div>
            <form class="login_form" method="post">
                <input class="form-control" placeholder="Введите фамилию" name="surname">
                <input class="form-control" placeholder="Введите имя" name="name">

                <div class="form-group">
                    <label for="email"></label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Введите адрес почты" name="email">
                </div>

                <div class="form-group">
                    <label for="classSelect">Какое у Вас образование?</label>
                    <select class="form-control" id="classSelect" name="education">
                      <option>Начальное</option>
                      <option>Среднее</option>
                      <option>Неполное высшее</option>
                      <option>Высшее</option>
                      <option>Другое</option>
                    </select>
                 </div>

                <div class="form-group">
                    <label for="form-check-">Какие у Вас есть профессии?</label>
                    <div class="form-check" id="form-check-">
                        <input type="checkbox" class="form-check-input" id="prof1" name="prof1"
                               value="инженер-исследователь">
                        <label class="form-check-label" for="prof1"> инженер-исследователь </label>
                        <input type="hidden" name="prof1" value="0">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="prof2" name="prof2" value="пилот">
                        <label class="form-check-label" for="prof2"> пилот </label>
                        <input type="hidden" name="prof2" value="0">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="prof3" name="prof3">
                        <label class="form-check-label" for="prof3"> строитель </label>
                        <input type="hidden" name="prof3" value="0">
                    </div>
                </div>

                <div class="form-group">
                    <label for="form-check">Укажите пол</label>
                    <div class="form-check" id="form-check">
                      <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
                      <label class="form-check-label" for="male">
                        Мужской
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="sex" id="female" value="female">
                      <label class="form-check-label" for="female">
                        Женский
                      </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="about">Почему Вы хотите принять участие в миссии?</label>
                    <textarea class="form-control" id="about" rows="3" name="about"></textarea>
                </div>
                <div class="form-group">
                    <label for="photo">Приложите фотографию</label>
                    <input type="file" class="form-control-file" id="photo" name="file">
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="acceptRules" name="accept">
                    <label class="form-check-label" for="acceptRules">Готовы остаться на Марсе?</label>
                    <input type="hidden" name="accept" value="0">
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>

{% endblock %}